# Cấu hình Server
PORT=3000

# Thông tin sinh viên
STUDENT_NAME="Nguyễn Văn Cường"
STUDENT_ID="23IT.B021"

# MongoDB Atlas Dual Connection URIs
# Tài khoản chỉ có quyền ĐỌC (Read-Only)
MONGO_URI_READ="mongodb+srv://user_read_23itb021:<password>@<cluster>.mongodb.net/DB_23ITB021?retryWrites=true&w=majority"

# Tài khoản chỉ có quyền GHI (Read-Write)
MONGO_URI_WRITE="mongodb+srv://user_write_23itb021:<password>@<cluster>.mongodb.net/DB_23ITB021?retryWrites=true&w=majority"

# Cấu hình Stateless Session lưu trên Cloud MongoDB
SESSION_SECRET="super_secret_session_cloud_key_23itb021"
